pkgbase = simplex-desktop-appimage
	pkgdesc = Messaging platform without user profile identifiers of any kind — 100% private by design
	pkgver = 5.8.1
	pkgrel = 2
	url = https://simplex.chat/
	arch = x86_64
	license = AGPL3
	depends = fuse2
	depends = zlib
	depends = hicolor-icon-theme
	provides = simplex-chat
	conflicts = simplex-chat
	options = !strip
	source = simplex-desktop-x86_64.AppImage::https://github.com/simplex-chat/simplex-chat/releases/download/v5.8.1/simplex-desktop-x86_64.AppImage
	source = https://raw.githubusercontent.com/simplex-chat/simplex-chat/v5.8.1/PRIVACY.md
	source = https://raw.githubusercontent.com/simplex-chat/simplex-chat/v5.8.1/README.md
	source = logo-symbol-dark.svg
	source = logo-symbol-light.svg
	source = simplex-desktop.desktop
	sha512sums = 24738b96964316d98bf04541c710956285eb47d75ccf5fd7a8b2fc0a65d0e4489145a1e4607cb1b805d3e91f59cdee3766db8351a2ea055c3253e276ddfa211f
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = simplex-desktop-appimage
